In [7]:
#1.simple function
def Data():
    print("This is the first function in python")
Data()

#2.paramaterized function with positional argument
def Data(name,age,city):
    print(f"My name is {name} my age is {age} and i live in {city}")
Data("Saleha",20,"Solapur")

#3.Function with keyword argument
def Data(name,age,city):
    print(f"My name is {name} my age is {age} and i live in {city}")
Data(age=20,name="saleha",city="pune")

#4.Default parameterized function
def Data(name,age,city="pune"):
    print(f"My name is {name} my age is {age} and i live in {city}")
Data("saleha",20)

#5. Variable length function
def ABC(*a):
    print(a)
ABC(1,2,3,4,5,6)

# Keyword argument variable length function
def Add(**a):
    print(a)
Add(a=1,b=2,c=3)

This is the first function in python
My name is Saleha my age is 20 and i live in Solapur
My name is saleha my age is 20 and i live in pune
My name is saleha my age is 20 and i live in pune
(1, 2, 3, 4, 5, 6)
{'a': 1, 'b': 2, 'c': 3}

In [9]:
def Add(*args):
    sum=0
    for i in args:
       sum+=i
    print(sum)
Add(1,2,3,4,5)

15

In [13]:
def length(a):
    count=0
    for i in a:
        count+=1
    print(count)
length(('s','a','l'))
length("saleha")
length([1,2,3,4,5])

3
6
5

In [14]:
def length(num):
    count=0
    while(num!=0):
        num=num//10
        count+=1
    print(count)
n=123
length(n)

3

In [20]:
def UpperCase(s):
    result=""
    for i in s:
        result+=chr(ord(i)-32)
    print(result)
UpperCase("saleha")

def LowerCase(s):
    result=""
    for i in s:
        result+=chr(ord(i)+32)
    print(result)
LowerCase("SALEHA")

SALEHA
saleha

In [21]:
def cap(s):
    words = s.split()
    cap_words = [word[0].upper() + word[1:] for word in words]
    cap_string = ' '.join(cap_words)
    return cap_string
i_s = "saleha ansari"
o_s= cap(i_s)
print(o_s)

Saleha Ansari

In [24]:
def uppercase(input_string):
    result = ""
    for i in input_string:  
        if 'a' <= i <= 'z':
            cap = ord(i) - 32
            result += chr(cap)
        else:
            result += i
    return result
inp = "my name is saleha......"
result = uppercase(inp)
print(result)

MY NAME IS SALEHA......

In [26]:
def lowercase(input_string):
    result = ""
    for i in input_string:  
        if 'A' <= i <= 'Z':
            cap = ord(i) + 32
            result += chr(cap)
        else:
            result += i
    return result
inp = "my name is saleha......"
result = lowercase(inp)
print(result)

my name is saleha......

In [30]:
#1 to 10 numbers using reccursion
def numbers(n):
    if n==0:
        return
    numbers(n-1)
    print(n)
numbers(10)

1
2
3
4
5
6
7
8
9
10

In [35]:
# 1 to 10 tables
def tables(n):
    def inner(n1):
        print(n*n1,end=" ")
        n1+=1
        if n1<=10:
            return inner(n1)
    inner(1)
    print()
    n+=1
    if n<=10:
        return tables(n)
tables(1)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [38]:
def square(a):
    for i in range(0,len(a)):
        a[i]=a[i]**2
    return a
l=[1,2,3,4,5,6]
print(square(l))

[1, 4, 9, 16, 25, 36]

In [40]:
# lambda function or anamalous function
# a=lambda parameters: expression
a=lambda a,b:a+b
print(a(1,2))

3

In [46]:
#generator function
def  Abc():
    yield 12
    yield 13
n=Abc()
print(next(n))
print(next(n))

12
13